@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}
body {
  font-family: 'Noto Sans KR', sans-serif;
  width: 1360px;
  margin: 0 auto;
  cursor: none;
}
.cursor {
  width: 3rem;
  height: 3rem;
  border: 2px solid #000;
  border-radius: 50%;
  position: absolute;
  z-index: 900;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.3s ease;
  transition-property: background, transform;
  transform-origin: 100% 100%;
  backdrop-filter: sepia(90%);
  background-size: cover;
  filter: blur(2px);
}
.cursor-grow {
  transform: scale(2.5);
  background-color: #ffe9ad;
  filter: blur(1px);
}
.nav {
  display: flex;
  align-items: right;
  position: relative;
}
.logo {
  position: absolute;
  top: 176px;
}
.logo:hover {
  filter: drop-shadow(5px 5px 5px gray);
}
.sub_title {
  display: flex;
  justify-content: right;
  margin-left: 360px;
  margin-top: 140px;
  width: 1000px;
  border-bottom: 7px solid #000;
}
.sub_title p {
  margin-left: 174px;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 16px;
  line-height: 33px;
  color: #000;
  /* color: rgba(0, 0, 0, 0.5); */
}
.sub_title .p1:hover {
  color: #feba00;
}
.sub_title .p2:hover {
  color: #feba00;
}
.sub_title .p3:hover {
  color: #feba00;
}
.container .content1 {
  display: flex;
  justify-content: space-between;
}
.container .content1 .text {
  width: 396px;
}
.container .content1 h1 {
  margin-top: 120px;
  margin-bottom: 100px;
  font-weight: 800;
  font-size: 90px;
  line-height: 80px;
}
.container .content1 p {
  width: 400px;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 40px;
}
.container .content1 h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 30px;
}
.container .content1 h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #636363;
  margin-bottom: 50px;
}
.container .box1 {
  display: flex;
  margin-top: 110px;
}
.container .box li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  width: 453px;
  border-top: 2px solid #999999;
}
.container .box img {
  width: 400px;
  height: 400px;
}

.container .box2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer p {
  margin-bottom: 20px;
}
.footer .social {
  display: flex;
  height: 70px;
  border-top: 4px solid rgb(90, 90, 90);
  justify-content: center;
}
.social img {
  margin-right: 20px;
  margin-top: 30px;
  margin-bottom: 100px;
}
/* .gotop */
.gotop {
  position: fixed;
  right: 100px;
  bottom: 100px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  font-size: 30px;
  background-color: #feba00;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  display: none;
  opacity: 80%;
  z-index: 100;
}
