/* 기본 색상 변수에 담기 */
html {
  --color-texta: #1d1d1d;
  --color-textb: #fff;
}
/* 시스템 커서 안 보이게 숨기기 */
body {
  cursor: none;
}
/* .gnb {
  display: flex;
  background-color: #000;
  height: 100px;
} */
/* 커스텀 커서 스타일 정의해주기 */
.cursor {
  width: 2rem;
  height: 2rem;
  border: 2px solid var(--color-texta);
  border-radius: 50%;
  position: absolute;
  z-index: 1000;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.3s ease;
  transition-property: background, transform;
  transform-origin: 100% 100%;
  backdrop-filter: sepia(90%);
  background-size: cover;
}
.cursor-grow {
  transform: scale(2);
  background-color: #fee800;
}
